body{
    background-color: black;
    margin-left:20%;
    margin-right:20%;
}
.all_games_with_info{
    margin-top: 65px;
    margin-left: 40px;
}
.image{
    width: 80%;
    height: 80%;
    
}
.left {
    width: 30%;
    height: 50%;
    position: absolute;
}
.right {
    width: 80%;
    margin-left: 6%;
    padding-top: 0.01%;
}
.description{
    margin-top: 5%;
    margin-bottom: 5%;
    color:#BADAEC
}
.game{
    border:#f2820a 5px solid;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: yellow;
    text-align: center;
}
.game h2{
    border-bottom: rgb(198, 43, 43) 6px double;
    color: darkviolet;
}
.game h3{
    color:rgb(0, 139, 252);
}
.game-info{
    font-size: smaller;
    margin: 0;
    font-style: italic;
}
.p_title{
    font-size:280%;
    color:white;
}
.detail_view_all_characteristics{
    color:rgb(255, 208, 0)
}