{% extends 'base.html' %}

{% block title %}

Game Shop

{% endblock title %}

{% block content %}
<div class="all_games_with_info">
    <center>
    <h1 class="p_title">
        All Games :
    </h1>
    </center>
    {% for game in game_list %}
    <div class="game">
        <img class="image" src="{{i.image.url}}">
        <h2><a href="{{ game.get_absolute_url }}">{{ game.title }}</a></h2>
        <p class="game-info">The game was added by "{{ game.owner }}" {{ game.created }} </p>
        <p class="game-info">Last updated: {{ game.updated }}</p>
        <h3>Description</h3> <p>{{ game.description }}</p>
        </div>
        
        {% endfor %}
</div>
{% endblock content %}